@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: start;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.5em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: white;
  cursor: pointer;
}

.custom-checkbox:checked + label::before {
  border-color: #3c4497;
  background-color: #3c4497;
  background-image: url("src/assets/Vector 8.svg");
}
